.height-helper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.hidden-x {
	overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 0 10px;
    max-width: 1155px;
    margin: 0 auto;
}